/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  /* Light mode color variables */
  --background-color: #fff;
  --primary-color: #64748B;
  --primary-color-row: #F1F5F9;
  --text-color: #334155;
  --secondary-color:#fff ;
  --nav-hover-color:#FCF7FF;
  --background-event-color: #F1F5F9;
  --border: 1px solid #F1F5F9;
  --h2-color: #000;
  --table-column:#F1F5F9;



  /* Dark mode color variables */
  --dark-background-color: #484554;
  --dark-text-color: #ffff;
  --dark-primary-color: #fff;
  --dark-primary-color-row:#6A6676 ;
  --dark-secondary-color: #6A6676;
  --dark-nav-hover-color:#8576FF;
  --dark-background-event-color: #6A6676;
  /* --dark-background-event-color: red; */
  --dark-border: none;
  --dark-h2-color: #fff;
  --dark-table-column:#6A6676;
}

body {
  /* display: flex; */
  display: flex;
  min-height: 100vh;
  background-color:var(--background-color);
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

.header{
  display: none;
}

#sidebar {
  width: 200px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font: 14px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
 
}

#sidebar h4{
  border: 1px dotted #007bff;
  color: #007bff;
  background-color: #D1FAE5;
  padding: 8px 16px;
  text-align: start;
  line-height: 16px;
  font-size: 14px;
  width: 100px;
  height: 40px;
  margin-bottom: 2rem;
}


#sidebar ul {
  list-style: none;
  flex-grow: 1;
}

#sidebar ul li {
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: background-color 0.2s;
}


#sidebar ul li a {
  cursor: pointer;
 margin-left: .5rem;
 text-decoration: none;
 color: var(--text-color);
}

#sidebar ul li:hover {
  background-color: var(--nav-hover-color);
  border-radius: 2px;
}

#sidebar .icon {
  margin-right: 10px;
}

li i{
  color: var(--text-color);
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #E2E8F0;
  border-radius: 20px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E2E8F0;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

/* Slider round handle */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* On checked, move handle */
input:checked + .slider {
  background-color: var(--dark-nav-hover-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.mode-changer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.dark {
  margin-left: .5rem;
  font-size: 12px;
  color: var(--text-color);
}


.user-profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.avatar {
  margin-right: 2px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}



#userName{
  margin: 0;
  font-size: 12px;
}

.user-info p {
  font-size: 10px;
  color: var(--text-color);
}


/* Overview Cards */

main{
  padding: 2rem;
}

.welcome_summary{
  font-weight: lighter;
  font-size: 24px;
  margin-top: 2rem;
}
.welcome_summary p{
  font-weight: lighter;
  font-size: 24px;
  color: var(--h2-color);
}

.event_information{
  display: inline-flex;
  gap: 12px;
}

.event_information h3{
 color:var(--text-color) ;
 font-size: 16px;
}

.event_information span{
  color: var(--text-color);
  
}

.event_sub_information{
  display: inline-flex;
  gap: 8px;
  font-weight:bold ;
}

.event_sub_information h2{
  font-size:20px;
  font-weight: bold;
  padding-top: 4px;
  color: var(--primary-color);
}

.event_sub_information p{
  gap: 8px;
  font-size:12px;
  font-weight: 500;
  padding-top: 6px;
}

#overview-cards {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  gap: 16px;
}

#overview-cards .card {
  background-color: var(--secondary-color);
  padding: 20px;
  width: 40%;
  /* box-shadow: 0 2px 2px #000 ; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#overview-cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Event Statistics */
.event_overview h2{
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
  color: var(--h2-color);
}

.event_statistics{
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
  
}

/* Chart Section */
#chart-section{
  flex-basis: 49%;
  width: 100%;
  background:var(--secondary-color);
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 20px;
}

#myChart{
  background-color:var(--secondary-color);
  width: 80vh;
  font-size: 40px;
}

/* Carosel */
.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  flex-basis: 48%;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  border-radius: 15px;
}

.image-overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 27, 27, 0.5);
  z-index: 1;
}

.carousel-item .text-overlay {
  position: absolute;
  bottom: 30px;
  text-align: start;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  z-index: 2;
}

.text-overlay h3{
  margin-bottom: 5px;
}

/* Arrows */
.prev, .next {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #334155;
  background: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: var(--background-color);
  font-size: 8px;
  font-weight: bolder;
  
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* Indicators (dots) */
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  z-index: 2;
}
.carousel-indicators span {
  display: block;
  width: 20px;
  height: 5px;
  background:  rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  /* z-index: 2; */
}

/* Initially hide all slides except the active one */
.carousel-item {
  display: none;
}

/* Set the active slide to display */
.carousel-item.active {
  display: block;
}


/* Active dot */
.dot.active {
  background: white; /* Change active */
}



/* Modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  color: white;
  z-index: 1000;
}

#modal .modal-content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  position: relative;
  color: white;
}

#modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.table-container {
  margin-top: 2rem;
  background-color: var(--background-color);
}

.table-container h2{
  color: var(--h2-color);
  margin-bottom: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: var(--background-color);
  color:var(--text-color);
  border-radius: 2px;
  /* border: 1px solid red; */
  font-size: 12px;
  margin-bottom: 1rem;
  color: var(--text-color);
  /* flex-wrap: wrap; */
}

.toolbar-left, .toolbar-center{
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
}

.toolbar-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-column-gap: 8px;
}


.toolbar-right .sort-dropdown{
  display:flex;
  justify-content: space-between;
  grid-column-gap: 8px;
}

.toolbar-right .flex-export-btn{
  display:flex;
  justify-content: space-between;
  grid-column-gap: 8px;
}

.sort-dropdown .sort-sort{
    padding-top: 8px;
    font-size: 14px;
    color: var(--text-color);
}

.toolbar-center{
  font-weight: bold;
  
}

.search-bar {
  display: flex;
  align-items: center;
  background-color:var(--secondary-color);
  padding: 8px 18px;
  border-radius: 2px;
  width: 200px;
  color: var(--text-color);
  border: 1px solid var(--dark-background-event-color);
}

.search-bar input {
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 12px;
}

.search-bar input:focus {
  outline: none;
}

.dropdown-button, .icon-button, .export-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid var(--dark-background-event-color);
}

.dropdown-button .arrow {
  font-size: 12px;
}

.export-button {
  background-color: var(--text-color);
}

.export-button{
  padding: 8px 16px;
  color:var(--text-color);
  background-color: var(--secondary-color);
}

.export-button i{
  margin-left: 2px;
}

.icon-button {
  font-size: 12px;
  padding: 8px 16px;
}

button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

button:focus {
  outline: none;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.search-input::placeholder {
  color: var(--text-color);
}

.search-input:focus {
  color: var(--text-color);
}

.most-recent{
  display: inline-flex;
  font-size: 14px;
  gap: 8px;
 
}
.most-recent-button{
  padding: 8px 16px;
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 0 1px 1px 1px var(--background-color);
  border-radius: 2px;
  border: 1px solid var(--dark-background-event-color);

}

.show-show{
  padding-top:8px ;
  color: var(--text-color);
}

.menu-dot{
  padding: 8px 16px;
  border: 1px solid #E2E8F0;
  color: var(--text-color);
  background-color: var(--secondary-color);
}


.result-display{
  font-size:14px ;
  text-align: center;
  font-weight: bolder;
  color: var(--text-color);
  margin-top: .5rem;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  text-align: left;
  padding: 16px;
  background-color:var(--table-column);
  color:var(--text-color);
  font-weight: bold;
  width: 269px;
}


tbody td {
  padding: 12px;
  font-size: 14px;
  text-align: start;
  justify-content: right;
  color: var(--text-color);
  background-color: var(--background-color);
}


.status {
  padding: 4px 8px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
}

.completed {
  color: #10B981;
  background-color: #D1FAE5;
}

.in-progress {
  background-color: #DBEAFE;
  color: #007bff;
}

.flex-pagination{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pagination span {
  font-size: 12px;
}

.number{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  text-align: center;
  gap: 20px;
  color: var(--text-color);
}

#page-number-1{
 border: 1px solid var(--text-color);
 padding: 2px 4px;
 cursor: pointer;
 background-color: var(--dark-nav-hover-color);
 border-radius: 50%;
 color: var(--secondary-color);

}

#page-number-2,
#page-number-3{
  padding: 2px
}


#prev-btn,
#next-btn{
  width: 36px;
  height: 36px;
  /* color: red; */
  /* border: 1px solid #E2E8F0; */
  border: var(--border);
  border-radius: 2px;
  gap: 8px;
  padding: 8px;
  line-height: 20px;
}

#prev-btn{
  margin-right: .5rem;
  background-color: var(--primary-color);
  color:var(--background-color) ;
}

#next-btn{
  margin-left: .5rem;
  border: 1px solid #334155;
  /* background-color: var(--primary-color); */
  background-color: var(--secondary-color);
  color:var(--background-color) ;
  /* color: var(--background-color); */
  color: var(--text-color);

}


/* Modal container (hidden by default) */
.modal {
  color: var(--text-color);
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
}

/* Modal content */
.modal-content {
  background-color: var(--background-color);
  margin: 15% auto;
  padding: 20px;
  width: 440px;
  height: 380px;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 15px;
  color: var(--dark-background-event-color);
  font-size: 12px;
  cursor: pointer;
  background-color: var(--background-event-color);
  border: 1px solid #64748B;
  padding: 4px;
  border-radius: 50%;
}

.event-name{
  font-size: 18px !important;
}

.event-date{
  font-size: 14px !important;
  margin-bottom: 2rem;
}
.event-description{
  font-size: 14px !important;
  margin-bottom:2rem ;
}

/* Guest speaker avatars */
.speakers{
  font-size: 14px !important;
  line-height: 20px;
}

.guest-speakers {
  display: flex;
  margin-bottom: 1rem;
}

.guest-speakers img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-top: .5rem;
}
.guest-avater-first{
  z-index: 4;
}
.guest-avater-second{
  transform: translateX(-20%);
  z-index: 2;
}
.guest-avater-last{
    transform: translateX(-40%);
    z-index: 1;
}

/* Modal buttons */
.modal-actions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
  background-color: var(--secondary-color);
}

.edit-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
  color: #334155;
}

.delete-btn {
  background-color: #F43F5E;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
  
}

.complete-btn {
  background-color: #8576FF;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
}

.complete-delete-btn{
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* Hover effects */
button:hover {
  opacity: 0.8;
}

.mobile-navbar {
  display: none;
  justify-content: space-evenly;
  background-color:var(--background-color);
  padding: 10px;
}

.mobile-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;

}

.mobile-navbar li {
  margin: 5px 0;
  text-align: center;

}

.mobile-navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}

.mobile-navbar i {
  margin-right: 5px;
}


@media (max-width: 768px) {
  .mobile-navbar {
    display: flex;
  }
}

/* Responsive Design */
@media (max-width: 850px) {

  body{
    display: block;
  }
  #sidebar {
    display: none;
      /* width: 80px; */
  }

  main{
    padding: .5rem;
  }
  .welcome_summary{
    position: relative;
  }
  .welcome_summary p{
    font-size: 17px;
    padding-left: 1rem;
  }

  #overview-cards {
    padding-top:10px;
      flex-direction: column;
      align-items: center;
      
  }

  #overview-cards .card {
      width: 90%;
      margin-bottom: 10px;
      display: block;
  }

  .event_overview h2{
    font-size: 17px;
  }

  .event_statistics{
    display: block;
  }

  #chart-section{
    width: 100%;
    /* height: 100vh; */
    flex-basis: none !important;
    margin-bottom: 1rem;
  }

  #myChart{
    width: 100%;
    height: 100vh;
    /* height: 240px; */
    /* width: 10%; */
  }

  .carousel-item img {
    width: 100%;
    height: 45vh;
    border-radius: 15px;
    background-color: #000;
  }

  /* .toolbar{
    flex-direction: column;
    align-items: flex-start;
  } */
  .toolbar {
    flex-direction: column; /* Stack elements in a column */
  
}

.toolbar-left{
    flex-direction: column;
    width: 100%; /* Full width for all sections */
    gap: 10px; /* Add spacing between elements */
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    display: flex;
}

.toolbar-center{
  text-align: start;
  justify-content: start;
}

.search-bar input{
  text-align:start;
    justify-content:start;
    /* color: red; */
}
.search-bar {
    /* margin-bottom: 10px;  */
    text-align:start;
    justify-content:start;
    width: 100%;
    /* color: red; */
}

.dropdown-button {
    width: 100%; 
}

.toolbar-right {
  display: block;
  justify-content: space-between;
  width: 100%;
  grid-column-gap: 1rem;

}

.sort-dropdown{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2px;
}

.flex-export-btn{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer{
  margin-top: 4rem;
}
.mobile-navbar {
  position: fixed;
  top: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
}


.hide{
  display: block;
  margin: 0  auto;
}

.header-nav {
  position: relative;
  width: 100%;
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.menu-icon {
  font-size: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: all 0.5s ease;
}

.overlay.show {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  /* color: white; */
  color:black;
  border: 1px solid green;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  text-align: center;
}

.nav-links li {
  margin: 20px 0;
}

.nav-links li a {
  color: white;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f1c40f;
}


}

/* Media queries for mobile view */
@media (max-width: 768px) {
  .menu-icon {
      font-size: 25px;
  }

  .close-btn {
      font-size: 35px;
  }

  .nav-links li a {
      font-size: 1.5em;
  }
}

/* Media queries for mobile view */
@media (max-width: 768px) {
  .menu-icon {
      font-size: 25px;
  }

  .close-btn {
      font-size: 35px;
  }

  .nav-links li a {
      font-size: 1.5em;
  }
}
 
@media (max-width:850px) {
  .header{
    display: block;
    color: var(--text-color);
    background-color: var(--background-color);
    z-index: 4;
  }

/* Top navigation bar */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  /* padding: 10px 20px; */
  /* position: fixed; */
  top: 0;
  bottom: 100;
  width: 100%;
  z-index: 4;
}


/* Logo on the left side of the topnav */
.logo {
  border: 1px dotted #007bff;
  color: #007bff;
  background-color: #D1FAE5;
  padding: 8px 16px;
  text-align: start;
  line-height: 16px;
  font-size: 14px;
  width: 100px;
  height: 40px;
  /* margin-bottom: 2rem; */
}

.emptylogo{
  border: 1px dotted #007bff;
  color: #007bff;
  background-color: #D1FAE5;
  padding: 8px 16px;
  text-align: start;
  line-height: 16px;
  font-size: 14px;
  width: 100px;
  height: 40px;
  /* margin-top: 2rem; */
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* Hamburger menu on the right */
.hamburger {
  font-size: 32px;
  cursor: pointer;
}

/* Side navigation styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  z-index: 100;
}

.sidenav ul {
  list-style: none;
  flex-grow: 1;
}

.sidenav ul li {
  /* padding: 4px 8px; */
  cursor: pointer;
  line-height: 20px;
  display: flex;
  padding-left: 2rem;
  align-items: center;
  font-size: 14px;
  transition: background-color 0.2s;
  /* border: 1px solid red; */
  /* background-color: #D1FAE5; */
  color: var(--text-color);
}

/* Links inside the side navigation */
.sidenav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
  /* border: 1px solid red; */
}

.sidenav a:hover {
  color: var(--dark-nav-hover-color);
}

/* Close button for the side navigation */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  z-index: 10;
  text-align: center;
  border: 1px solid var(--dark-background-event-color);
  color: var(--text-color);
  background-color: var(--background-color);

}

.sidenav .mode-changer,
.sidenav .user-profile{
  padding-left: 2rem;
}

.sidenav .dark{
  font-size: 14px;
}

}

 /* show modal */
@media (max-width:850px) {
 .modal-content {
  /* background-color: red; */
  width: 90%;
}

.modal-actions {
  display: block;
  margin-top: 0;
}

.complete-delete-btn{
  display: block;
}

.modal-actions button{
  width: 100%;
  grid-column-gap: 1rem;
  margin-bottom: 2px;
}

.card{
  display: block;
  text-align: start;
}

.show-show{
  display: none;
  padding-top:8px ;
  color: var(--text-color);
}
}


/* Mobile specific styling */
@media (max-width: 850px) {
  .details-row {
    display: none; /* Hidden by default */
  }

  .flex-pagination{
    padding: 1rem;
  }
}
